<section class="menus">
    <img class="myLogo"
        src='https://cdn.discordapp.com/attachments/1244019120211492985/1253639348155453460/logo-removebg-preview.png?ex=66769620&is=667544a0&hm=c7a186a2a2a21e470711467d16faf74c6f63a4ea95b1d4950f716baa82e863c8&' />
    <ul>
        <li (click)="GoToHome()">Home</li>
        <li (click)="GoToAbout()">About</li>
        <li>Portfolio</li>
        <li (click)="GoToServices()">Services</li>
        <li (click)="GoToContact()">Contact</li>
        <li class="purchase-img"><img src="https://cdn-icons-png.flaticon.com/512/2838/2838895.png" /></li>
        <button class="support-btn">SUPPORT</button><button class="signin-btn" (click)="GoToSingnIn()">Sign
            in</button>
    </ul>
</section>