<footer>
    <img
        src="https://cdn.discordapp.com/attachments/1244019120211492985/1253696582470078475/image.png?ex=6676cb6d&is=667579ed&hm=a5e1b04358dd6726cfae8f98f56c79f98c0b62c02170aeafdf0ebae84b97c234&" />
    <p class="email-footer">internet.design&#64;hotmail.com</p>
    <p class="address-footer">Address: 123 Avenue Habib Bourguiba,<br>
        Tunis City,<br>
        Tunisia</p>
    <p class="cpright">Copyright ©2024 All rights reserved | This website is made with &#10084; by Mariem Ben
        Tamansourt</p>
    <span class="stay-connected">Stay Connected</span><i class="fa-brands fa-linkedin"></i><i
        class="fa-brands fa-twitter"></i><i class="fa-brands fa-instagram"></i>
</footer>