/*Footer*/

footer {
    background-color: rgb(0, 0, 25);
    color: aliceblue;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 30px;
}

footer .email-footer {
    font-size: 40px;
    font-weight: 400;
}

footer .cpright {
    font-size: 15px;
    color: rgba(240, 248, 255, 0.611);
}

footer .stay-connected,
.fa-brands.fa-linkedin,
.fa-brands.fa-twitter,
.fa-brands.fa-instagram {
    font-size: 15px;
    color: rgba(240, 248, 255, 0.568);
    margin-right: 10px;
}

footer .stay-connected:hover,
.fa-brands.fa-linkedin:hover,
.fa-brands.fa-twitter:hover,
.fa-brands.fa-instagram:hover {
    color: rgb(240, 248, 255);
}

footer img {
    width: 380px;
}