@defer{

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <app-header></app-header>
    <div class="para-img">
        <div class="forbackground-rectangle">
            <div class="left-img"></div>
        </div>

        <div class="right-paragraph">
            <p class="slogan">CREATIVITY AND INNOVATION</p>
            <h2 class="about-title">About Us</h2>
            <p class="about-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit.
            </p>
            <button class="learnMore-btn">LEARN MORE</button>
        </div>
    </div>
    <app-footer>


    </app-footer>
</body>
}
@loading (minimum 1.5s){
<img class="loading-img"
    src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2796ed81999693.5d10c0872415e.gif" />
}