@defer{
    <body >

        <section class="menus">
            <img class="myLogo" src='https://cdn.discordapp.com/attachments/1244019120211492985/1252987137511657492/logo.png?ex=667436b4&is=6672e534&hm=d5ce915c41c1740f0e19e1c7b640ba181dffa64f2b316a9baf6d74d69eb9b0aa&'/>
            <ul>
            <li>Home</li><li>About</li><li>Features</li><li>Shop</li><li>Contact</li><li class="purchase-img"><img src="https://cdn-icons-png.flaticon.com/512/2838/2838895.png"/></li>
            <button class="support-btn">SUPPORT</button><button class="signin-btn" (click)="GoToSingnIn()">Sign in</button></ul>
        </section>
        <div class="forbackground-rectangle">
        </div>
        <div class="left-img"></div>
        <div class="right-paragraph">
            <p class="slogan">CREATIVITY AND INNOVATION</p>
            <h2 class="about-title">About Us</h2>
            <p class="about-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
            </p>
            <button class="learnMore-btn" >LEARN MORE</button>
        </div>
    </body>
    }
    @loading (minimum 1.5s){
        <img class="loading-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2796ed81999693.5d10c0872415e.gif"/>
    }
    
